.footer {
    height: 28.375rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.footer-dark {
    height: 28.375rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #252128;
}

.footer-head {
    color: #8F88FF;
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
}

.message {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;

}

.message-dark {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;

}

.nav-link {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;

}

.icons {
    margin-top: 2rem;
}