.header-body {
    display: flex;
    flex-direction: row;
}

.header-blue {
    background-color: #4731D3;
    width: 70%;
    height: 41.9375rem;
}

.header-blue.dark-mode {
    background-color: bisque;
}

.header-green {
    background-color: #CBF281;
    width: 30%;
    height: 41.9375rem;
}

.lang {
    text-align: end;
}

.name {
    color: #CBF281;
    font-size: 2rem;
}

.navlink {
    text-decoration: none;
    border: 5rem;
    background-color: white;
    border-radius: .2rem;
    padding: .5rem;
    color: #3730A3;
    margin-right: 1rem;
}

.link {
    display: flex;
    flex-direction: row;
}

.header.cv {
    display: flex;
    flex-direction: column;
}

.frontend {
    color: #CBF281;
    font-family: 'Inter', sans-serif;
    font-size: 3.375rem;
}

.who {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

.header-content {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
}

.header-img {
    margin-left: 5rem;
    height: 23.49281rem;
    width: auto;
    border-radius: 1.125rem;
}