.profile {
    background-color: #4731D3;
    height: 34.5rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.profile-dark {
    background-color: #171043;
    height: 34.5rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;

}

.profile-img {
    margin-right: auto;
    height: auto;
    width: 100%;
    border-radius: 1.125rem;
    max-width: 22rem;
}

.profile-content {
    display: flex;
    flex-direction: row;
    margin-left: 24rem;
    width: 75%;

}

.profile-content div {
    margin-right: 5rem;
}

.head {
    color: #CBF281;
    margin-left: 24rem;
}

.green {
    color: #CBF281;
}

.white {
    color: white;
}

.info-content {
    display: flex;
    flex-direction: row;
}

.info-content p {
    margin-right: 1rem;
}

.about-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 18rem;
    height: auto;
}

.basic-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 18rem;
    height: auto;
}

@media(min-width: 350px) and (max-width: 428px) {
    .head {
        color: #CBF281;
        margin-left: 3rem;
    }

    .profile-content {
        display: flex;
        flex-direction: column;
        margin-left: 3rem;

    }

    .profile {
        background-color: #4731D3;
        height: auto;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;

    }

    .profile-dark {
        background-color: #171043;
        height: auto;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }

    .profile-img {
        height: 18rem;
        width: auto;
        border-radius: 1.125rem;
    }

}

@media (min-width:428px) and (max-width: 1024px) {
    .head {
        color: #CBF281;
        margin-left: 8rem;
    }

    .profile-content {
        display: flex;
        flex-direction: row;
        margin-left: 8rem;

    }

    .profile-content div {
        margin-right: 4rem;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 0;
        height: auto;
    }

}