.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}

.skills-dark {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: #252128;

}

.logo {
    height: 7.5rem;
    width: 7.5rem;
    margin-top: 2rem;
}


.langs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.program-name {
    margin-left: 2.5rem;
}

.header {
    color: #4832D3;
}

.header-dark {
    color: #CBF281;
}