.skills {
    background-color: white;
    display: flex;
    justify-content: center;
}

.skills-dark {

    background-color: #252128;
    display: flex;
    justify-content: center;
}

.skills-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 75%;
    flex-wrap: wrap;

}

.skills-logo {
    display: flex;
    flex-wrap: wrap;
    width: 50rem;
    padding-left: 10rem;
}

.skills-content-dark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 75%;

}

.logo {
    height: 7.5rem;
    width: 7.5rem;
    margin-top: 2rem;
}


.langs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 19rem;
}

.program-name {
    margin-left: 2.5rem;
    color: black;
}

.program-name-dark {
    margin-left: 2.5rem;
    color: white;
}

.header {
    color: #4832D3;

}

.header-dark {
    color: #CBF281;

}

@media(min-width: 350px) and (max-width: 428px) {
    .skills {
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .skills-dark {

        background-color: #252128;
        display: flex;
        flex-direction: column;
    }

    .skills-content {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        text-align: center;
        width: 67%;

    }

    .skills-content-dark {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        text-align: center;
        width: 67%;

    }

    .skills-logo {
        display: flex;
        flex-wrap: wrap;
        width: 35rem;
        padding-left: 0;
    }

    .header {
        color: #4832D3;
        text-align: left;
        margin-left: 3rem;

    }

    .header-dark {
        color: #CBF281;
        text-align: left;
        margin-left: 3rem;

    }

}

@media(min-width:428px) and (max-width: 1024px) {
    .skills-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        width: 80%;
        margin-right: 5rem;

    }

    .skills-content-dark {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        width: 80%;
        margin-right: 5rem;

    }

    .header {
        color: #4832D3;
        text-align: left;
        margin-left: 4rem;

    }

    .header-dark {
        color: #CBF281;
        text-align: left;
        margin-left: 4rem;

    }

    .skills-logo {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }

}